<%- include('partials/header.ejs') %>

<h1>About Me</h1>
<img class="profile" src="images/ivan.jpg" alt="cat profile">

<p>My name is Ivan Rios, and I am a web developer with 1 year of experience in the field. I specialize in HTML, CSS, JavaScript, React, and Node.js. I am currently seeking an entry-level position where I can apply my skills and continue to grow as a developer.</p>

<p>I am proud to be enrolled at Bakersfield College, where I am working towards furthering my education in web development. I also hold a certificate in Web Design and Development. My GitHub profile showcases my learning journey and the projects I have worked on, reflecting my commitment to continuous learning and improvement.</p>

<p>I am passionate about creating projects that make a positive impact for users on the internet. My approach to web development is to never give up on finding solutions, no matter how challenging the problem may be. I believe in the power of persistence and the importance of continuous learning in this ever-evolving field.</p>

<p>Thank you for taking the time to learn more about me. I look forward to the opportunity to contribute to exciting projects and collaborate with talented teams.</p>

<%- include('partials/footer.ejs') %>