<%- include("partials/header.ejs") %>


  <h1 class="text-primary">Web developer</h1>

  <p>A passionate freelance web developer with a knack for transforming ideas into compelling digital experiences. My journey has been driven by solving problems in code and the love for making ideas come to life. Continuing to learn is something I look forward to and learning from others as well along the way. When I'm not learning code, you can find me trying new foods, gaming, and exploring new places. I am always on the lookout for inspiration and new challenges. Let's connect and create something amazing together!
  </p>
 

  <%- include("partials/footer.ejs") %>