<%- include("partials/header.ejs") %>


  <h1 class="text-primary">Web developer</h1>

  <p>A passionate freelance web developer with a knack for transforming ideas into compelling digital experiences. My journey has been driven by solving problems in code and the love for making ideas come to life. Continuing to learn is something I look forward to and learning from others as well along the way. When I'm not learning code, you can find me trying new foods, gaming, and exploring new places. I am always on the lookout for inspiration and new challenges. Let's connect and create something amazing together!
  </p>

  <div id="carouselExampleIndicators" class="carousel slide container">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/images/rapid-movers.jpeg" class="d-block w-100" alt="rapid movers">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 

  <%- include("partials/footer.ejs") %>